{% extends 'base.html.twig' %}

{% block body %}
    {% include 'site/modules/home_slider.html.twig' %}
    <br><br>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="headline center">
                    <h3>Nos Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis quam, ultricies at luctus eget, vestibu <br class="hidden-phone">
                        lum vel elit. Nulla et diam non dui blandit tincidunt. </p>
                </div><!-- end .headline -->
            </div><!-- end .span12 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
    {% include 'site/modules/home_services.html.twig' %}
    {% include 'site/modules/home_portofolio.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="headline center">

                    <h3>Suivez Notre Blog</h3>

                    <p>Passionné par tout ce qui est culture digitale ou numérique, rejouins nous sus notre blog. Ici, nous p</p>

                </div><!-- end .headline -->

            </div><!-- end .span12 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
    {% include 'site/modules/home_blog.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="headline center">

                    <h3>Our business is about you</h3>

                </div><!-- end .headline -->

            </div><!-- end .span12 -->
        </div><!-- end .row -->
    </div><!-- end .container -->

    <div class="container">
        <div class="row">
            <div class="span7">

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis quam, ultricies at luctus eget, 
                    vestibu lum vel elit. Nulla et diam non dui blandit tincidunt. Donec urna tellus, maximus tincidunt 
                    gravida a, maxi mus dapibus leo. Aliquam commodo viverra facilisis. Fusce a laoreet ipsum. Lorem ipsum 
                    dolor sit amet, consectetur adipiscing elit. Sed turpis quam, ultricies at luctus eget, vestibulum vel 
                    elit. Nulla et diam non dui blandit tincidunt. Donec urna tellus, maximus tincidunt.</p>

                <br>

                <a class="btn" href="#">Read more</a>

            </div><!-- end .span7 -->
            <div class="span5">

                <p class="text-center">
                    <img src="content/index/245x195.jpg" alt="">
                </p>

            </div><!-- end .span5 -->
        </div><!-- end .row -->
    </div><!-- end .container -->
    {% include 'site/modules/home_jauge.html.twig' %}
    <br><br>
{% endblock %}
