<div class="container">
    <div class="row">
        <div class="span4">

            <div class="icon-box-3">

                <i class="fa fa-television"></i>

                <div class="icon-box-content">

                    <h4>
                        <a href="single-service.html">Responsive</a>
                    </h4>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit vol uptatem accusantium doloremque laudantium, 
                        totam rem aperiam, eaque ipsa quae ab illo.</p>

                </div><!-- end .icon-box-content -->

            </div><!-- end .icon-box-3 -->

        </div><!-- end .span4 -->
        <div class="span4">

            <div class="icon-box-3">

                <i class="fa fa-star"></i>

                <div class="icon-box-content">

                    <h4>
                        <a href="single-service.html">Animations</a>
                    </h4>

                    <p>Praesent vel arcu ac enim fermentum volutpat. Praesent vitae risus in urna viverra mattis non eget ex.
                        Nunc blandit mattis ligula, in semper eros.</p>

                </div><!-- end .icon-box-content -->

            </div><!-- end .icon-box-3 -->

        </div><!-- end .span4 -->
        <div class="span4">

            <div class="icon-box-3">

                <i class="fa fa-bookmark"></i>

                <div class="icon-box-content">

                    <h4>
                        <a href="single-service.html">Icon boxes</a>
                    </h4>

                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspe rnatur aut odit aut fugit, sed quia consequuntur 
                        magni dolores eos qui ratione voluptatem sequi.</p>

                </div><!-- end .icon-box-content -->

            </div><!-- end .icon-box-3 -->

        </div><!-- end .span4 -->
    </div><!-- end .row -->
</div><!-- end .container -->

<div class="container">
    <div class="row">
        <div class="span4">

            <div class="icon-box-3">

                <i class="fa fa-tag"></i>

                <div class="icon-box-content">

                    <h4>
                        <a href="single-service.html">Pricing Table</a>
                    </h4>

                    <p>Phasellus pellentesque elit ac neque ultricies efficitur. Vivamus sed ultrices velit. Integer vel rhoncus 
                        dui. Vivamus et justo a eros varius pretium.</p>

                </div><!-- end .icon-box-content -->

            </div><!-- end .icon-box-3 -->

        </div><!-- end .span4 -->
        <div class="span4">

            <div class="icon-box-3">

                <i class="fa fa-picture-o"></i>

                <div class="icon-box-content">

                    <h4>
                        <a href="single-service.html">Portfolio</a>
                    </h4>

                    <p>Nunc nisl mauris, tempus nec molestie porta id, purus. Maecenas turpis enim, ultrices varius lectus sed
                        porttitor, interdum feugiat nulla dapibus.</p>

                </div><!-- end .icon-box-content -->

            </div><!-- end .icon-box-3 -->

        </div><!-- end .span4 -->
        <div class="span4">

            <div class="icon-box-3">

                <i class="fa fa-newspaper-o"></i>

                <div class="icon-box-content">

                    <h4>
                        <a href="single-service.html">Blog pages</a>
                    </h4>

                    <p>Duis eget risus eros. Proin tempus eros elit, eget egestas erat sollicitudin id. Sed sed sollicitudin 
                        mauris, et bibendum dui massa vitae rhoncus.</p>

                </div><!-- end .icon-box-content -->

            </div><!-- end .icon-box-3 -->

        </div><!-- end .span4 -->
    </div><!-- end .row -->
</div><!-- end .container -->