<div class="rev_slider_wrapper" style="margin-bottom:0">

    <div class="rev_slider" data-version="5.0">

        <ul>
            <li data-transition="fade">

                <img src="content/index/slider/1920x890-1.jpg"  alt="">

                <div class="tp-caption" 							
                     data-x="right" 
                     data-y="bottom" 							 
                     data-start="1000"
                     data-transform_in="x:100px;opacity:0;s:700;"
                     data-transform_out="x:100px;opacity:0;s:700;">
                    <img src="content/index/slider/slide-1-p1.png" alt="">
                </div>                                                        

                <div class="tp-caption rectangle" 							
                     data-x="20" 
                     data-y="240" 							 
                     data-start="1400"
                     data-transform_in="opacity:0;s:700;"
                     data-transform_out="opacity:0;s:700;">
                </div>

                <div class="tp-caption title" 							
                     data-x="65" 
                     data-y="340" 							 
                     data-start="1400"
                     data-transform_in="opacity:0;s:700;"
                     data-transform_out="opacity:0;s:700;">
                    Enjoy a <br>
                    unique <br>
                    design
                </div>

                <div class="tp-caption text alt" 							
                     data-x="70" 
                     data-y="610" 							 
                     data-start="1800"
                     data-transform_in="x:-100px;opacity:0;s:700;"
                     data-transform_out="x:-100px;opacity:0;s:700;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br>
                    do eiusmod tempor incididunt ut labore.
                </div>

                <div class="tp-caption" 							
                     data-x="70" 
                     data-y="715" 							 
                     data-start="2200"
                     data-transform_in="y:100px;opacity:0;s:700;"
                     data-transform_out="y:100px;opacity:0;s:700;">
                    <a class="btn" href="#">Read more</a>
                </div>

            </li>
            <li data-transition="fade">

                <img src="content/index/slider/1920x890-2.jpg"  alt="">

                <div class="tp-caption" 							
                     data-x="430" 
                     data-y="440" 							 
                     data-start="1000"
                     data-transform_in="y:100px;opacity:0;s:700;"
                     data-transform_out="y:100px;opacity:0;s:700;">
                    <img src="content/index/slider/slide-2-p1.png" alt="">
                </div>                                                        

                <div class="tp-caption" 							
                     data-x="30" 
                     data-y="400" 							 
                     data-start="1400"
                     data-transform_in="x:-100px;opacity:0;s:700;"
                     data-transform_out="x:-100px;opacity:0;s:700;">
                    <img src="content/index/slider/slide-2-p2.png" alt="">
                </div> 

                <div class="tp-caption title text-right" 							
                     data-x="right" 
                     data-y="430"
                     data-hoffset="30"							 
                     data-start="1800"
                     data-transform_in="x:100px;opacity:0;s:700;"
                     data-transform_out="x:100px;opacity:0;s:700;">
                    Discover <br>
                    Thrump
                </div> 

                <div class="tp-caption subtitle"	
                     data-x="right" 
                     data-y="400"
                     data-hoffset="30"							 
                     data-start="2200"
                     data-transform_in="x:100px;opacity:0;s:700;"
                     data-transform_out="x:100px;opacity:0;s:700;">
                    Suspendisse condimentum 
                </div> 

                <div class="tp-caption rectangle-2"	
                     data-x="665" 
                     data-y="295"							 
                     data-start="2500"
                     data-transform_in="opacity:0;s:700;"
                     data-transform_out="opacity:0;s:700;"> 
                </div> 

                <div class="tp-caption text text-right"	
                     data-x="right" 
                     data-y="600"
                     data-hoffset="30"							 
                     data-start="2800"
                     data-transform_in="x:100px;opacity:0;s:700;"
                     data-transform_out="x:100px;opacity:0;s:700;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm <br>
                    od tempor incididunt ut labore.Lorem ipsum dolor sit amet. 
                </div>  

                <div class="tp-caption" 							
                     data-x="right" 
                     data-y="690"
                     data-hoffset="30"							 
                     data-start="3200"
                     data-transform_in="y:100px;opacity:0;s:700;"
                     data-transform_out="y:100px;opacity:0;s:700;">
                    <a class="btn" href="#">Read more</a>
                </div> 

            </li>
            <li data-transition="fade">

                <img src="content/index/slider/1920x890-3.jpg"  alt="">

                <div class="tp-caption" 							
                     data-x="right" 
                     data-y="400" 
                     data-hoffset="60"							 
                     data-start="1000"
                     data-transform_in="opacity:0;s:700;"
                     data-transform_out="opacity:0;s:700;">
                    <img src="content/index/slider/slide-3-p1.png" alt="">
                </div>

                <div class="tp-caption title-2" 							
                     data-x="30" 
                     data-y="370"							 
                     data-start="1800"
                     data-transform_in="y:-100px;opacity:0;s:700;"
                     data-transform_out="y:-100px;opacity:0;s:700;">
                    Get the latest <br> updates
                </div> 

                <div class="tp-caption subtitle alt" 							
                     data-x="30" 
                     data-y="330"							 
                     data-start="2200"
                     data-transform_in="x:-100px;opacity:0;s:700;"
                     data-transform_out="x:-100px;opacity:0;s:700;">
                    Suspendisse condimentum
                </div> 

                <div class="tp-caption subtitle alt" 							
                     data-x="30" 
                     data-y="330"							 
                     data-start="2200"
                     data-transform_in="x:-100px;opacity:0;s:700;"
                     data-transform_out="x:-100px;opacity:0;s:700;">
                    Suspendisse condimentum
                </div> 

                <div class="tp-caption list-item" 							
                     data-x="30" 
                     data-y="500"							 
                     data-start="2600"
                     data-transform_in="x:-100px;opacity:0;s:700;"
                     data-transform_out="x:-100px;opacity:0;s:700;">
                    Lorem ipsum dolor sit amet
                </div> 

                <div class="tp-caption list-item" 							
                     data-x="30" 
                     data-y="535"							 
                     data-start="2800"
                     data-transform_in="x:-100px;opacity:0;s:700;"
                     data-transform_out="x:-100px;opacity:0;s:700;">
                    Consectetur adipiscing elit
                </div> 

                <div class="tp-caption list-item" 							
                     data-x="30" 
                     data-y="570"							 
                     data-start="3000"
                     data-transform_in="x:-100px;opacity:0;s:700;"
                     data-transform_out="x:-100px;opacity:0;s:700;">
                    Sed do eiusm od tempor incididunt
                </div> 

                <div class="tp-caption list-item" 							
                     data-x="30" 
                     data-y="605"							 
                     data-start="3200"
                     data-transform_in="x:-100px;opacity:0;s:700;"
                     data-transform_out="x:-100px;opacity:0;s:700;">
                    Praesent vel arcu ac enim fermentum
                </div> 

                <div class="tp-caption" 							
                     data-x="30" 
                     data-y="665"
                     data-hoffset="30"							 
                     data-start="3600"
                     data-transform_in="y:100px;opacity:0;s:700;"
                     data-transform_out="y:100px;opacity:0;s:700;">
                    <a class="btn" href="#">Read more</a>
                </div> 

            </li>
            <li data-transition="fade">

                <img src="content/index/slider/1920x890-4.jpg"  alt="">

                <div class="tp-caption rectangle" 							
                     data-x="420" 
                     data-y="240" 							 
                     data-start="1000"
                     data-transform_in="opacity:0;s:700;"
                     data-transform_out="opacity:0;s:700;">
                </div>

                <div class="tp-caption title alt" 							
                     data-x="465" 
                     data-y="340" 							 
                     data-start="1000"
                     data-transform_in="opacity:0;s:700;"
                     data-transform_out="opacity:0;s:700;">
                    Enjoy a <br>
                    unique <br>
                    design
                </div>

                <div class="tp-caption text alt-2" 							
                     data-x="430" 
                     data-y="610" 							 
                     data-start="1400"
                     data-transform_in="x:-100px;opacity:0;s:700;"
                     data-transform_out="x:-100px;opacity:0;s:700;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed <br>
                    do eiusmod tempor incididunt ut labore.
                </div>

                <div class="tp-caption" 							
                     data-x="430" 
                     data-y="715" 							 
                     data-start="1800"
                     data-transform_in="y:100px;opacity:0;s:700;"
                     data-transform_out="y:100px;opacity:0;s:700;">
                    <a class="btn" href="#">Read more</a>
                </div>

            </li>
        </ul>

    </div><!-- end .rev_slider -->

</div><!-- end .rev_slider_wrapper -->