            <br><br><br>
            
            <div class="container">
           		<div class="row">
                	<div class="span6">
                    	
                        <div class="fixed">
                        
                        	<div class="progress-bar-description">
                            	Creativity
                                <span>100%</span>
                            </div>
                           
                            <div class="progress-bar">  
                                <span class="progress-bar-outer" data-width="100"> 
                                    <span class="progress-bar-inner"></span> 
                                </span>
                            </div><!-- end .progress-bar -->
                            
                        </div>
                        
                        <div class="fixed">
                        
                        	<div class="progress-bar-description">
                            	Management
                                <span>90%</span>
                            </div>
                           
                            <div class="progress-bar">  
                                <span class="progress-bar-outer" data-width="90"> 
                                    <span class="progress-bar-inner"></span> 
                                </span>
                            </div><!-- end .progress-bar -->
                            
                        </div>
                        
                    </div><!-- end .span6 -->
                    <div class="span6">
                        
                        <div class="fixed">
                        
                        	<div class="progress-bar-description">
                            	Coding
                                <span>70%</span>
                            </div>
                           
                            <div class="progress-bar">  
                                <span class="progress-bar-outer" data-width="70"> 
                                    <span class="progress-bar-inner"></span> 
                                </span>
                            </div><!-- end .progress-bar -->
                            
                        </div>
                        
                        <div class="fixed">
                        
                        	<div class="progress-bar-description">
                            	Desing
                                <span>60%</span>
                            </div>
                           
                            <div class="progress-bar">  
                                <span class="progress-bar-outer" data-width="60"> 
                                    <span class="progress-bar-inner"></span> 
                                </span>
                            </div><!-- end .progress-bar -->
                            
                        </div>
                        
                    </div><!-- end .span6 -->
                </div><!-- end .row -->
            </div><!-- end .container -->