<div class="container">
    <div class="row">
        <div class="span4">

            <div class="box box-style-3" style="background-image:url(content/backgrounds/480x650.jpg);">

                <h6 class="text-highlight">23 Nov</h6>

                <h5 class="no-margin-bottom">Photography</h5>

                <h2 class="no-margin-bottom">Featured <br> Blog Post</h2>

            </div><!-- end .box -->

        </div><!-- end .span4 -->
        <div class="span4">

            <div class="post format-standard hentry alt">

                <span class="posted-on">Jan 14</span>

                <div class="post-header">

                    <span class="cat-links"><a href="#">Uncategorized</a></span>

                    <h5 class="post-title">
                        <a rel="bookmark" href="blog-post.html">Regular blog post</a>
                    </h5>

                </div><!-- .post-header -->                                                        

                <div class="post-content">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis quam, ultricies at luctus 
                        eget, vestibu lum vel elit. Nulla et diam non dui blandit tincidunt.</p> 

                    <p>
                        <a class="more-link" href="blog-post.html">Read more</a>
                    </p>

                </div><!-- .post-content -->

            </div><!-- end .post -->

            <div class="post format-standard hentry alt">

                <span class="posted-on">Jan 12</span>

                <div class="post-header">

                    <span class="cat-links"><a href="#">Management</a></span>

                    <h5 class="post-title">
                        <a rel="bookmark" href="blog-post.html">Business conference 2015</a>
                    </h5>

                </div><!-- .post-header -->                                                        

                <div class="post-content">

                    <p>Nam porta orci a vulputate hendrerit. Curabitur id augue nunc. Cras pulvinar ornare risus sit 
                        amet blandit. In hac habitasse platea dictumst.</p> 

                    <p>
                        <a class="more-link" href="blog-post.html">Read more</a>
                    </p>

                </div><!-- .post-content -->

            </div><!-- end .post -->

        </div><!-- end .span4 -->
        <div class="span4">

            <div class="post format-standard hentry alt">

                <span class="posted-on">Jan 11</span>

                <div class="post-header">

                    <span class="cat-links"><a href="#">Web Design</a></span>

                    <h5 class="post-title">
                        <a rel="bookmark" href="blog-post.html">All about templates</a>
                    </h5>

                </div><!-- .post-header -->                                                        

                <div class="post-content">

                    <p>Integer non mattis felis, et gravida ligula. Vestibulum tincidunt elit vitae fermentum feugiat. 
                        Vestibulum accumsan feugiat consectetur purus nec.</p> 

                    <p>
                        <a class="more-link" href="blog-post.html">Read more</a>
                    </p>

                </div><!-- .post-content -->

            </div><!-- end .post -->

            <div class="post format-standard hentry alt">

                <span class="posted-on">Jan 10</span>

                <div class="post-header">

                    <span class="cat-links"><a href="#">Design</a></span>

                    <h5 class="post-title">
                        <a rel="bookmark" href="blog-post.html">Breebie mock-ups</a>
                    </h5>

                </div><!-- .post-header -->                                                        

                <div class="post-content">

                    <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                        Pellentesque placerat ultricies sapien, quis tincidunt est.</p> 

                    <p>
                        <a class="more-link" href="blog-post.html">Read more</a>
                    </p>

                </div><!-- .post-content -->

            </div><!-- end .post -->

        </div><!-- end .span4 -->
    </div><!-- end .row -->
</div><!-- end .container -->