<div class="fullwidth-section" id="bg-2">

    <div class="fullwidth-section-content">

        <div class="container">
            <div class="row">
                <div class="span12">

                    <div class="testimonial-slider">

                        <ul class="slides">
                            <li>

                                <div class="testimonial-slider-image">

                                    <p>
                                        <img src="content/testimonials/460x635-1.jpg" alt="">
                                    </p>

                                    <br>

                                    <a class="btn" href="#">Read more</a>

                                </div><!-- end .span5 -->
                                <div class="testimonial-slider-details">

                                    <h1 class="text-highlight text-uppercase">Thrump</h1>

                                    <h3>Our business is about you</h3>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis quam, ultricies 
                                        at luctus eget, vestibu lum vel elit. Nulla et diam non dui blandit tincidunt. Donec urna 
                                        tellus, maximus tincidunt gravida a, maxi mus dapibus leo. Aliquam commodo viverra facilisis. 
                                        Fusce a laoreet ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed turpis 
                                        quam, ultricies at luctus eget, vestibulum vel elit non dui blandit. </p>

                                </div><!-- end .span6 -->

                            </li>
                            <li>

                                <div class="testimonial-slider-image">

                                    <p>
                                        <img src="content/testimonials/460x635-2.jpg" alt="">
                                    </p>

                                    <br>

                                    <a class="btn" href="#">Read more</a>

                                </div><!-- end .span5 -->
                                <div class="testimonial-slider-details">

                                    <h1 class="text-highlight text-uppercase">Thrump</h1>

                                    <h3>Minimalistic &amp; Clean design</h3>

                                    <p>Sed fermentum tortor leo, laoreet varius nisi pretium in. Cum sociis natoque penatibus 
                                        et magnis dis parturient montes, nascetur ridiculus mus. Sed ornare nisl in est euismod, in 
                                        posuere justo auctor. Phasellus diam magna, volutpat sit amet nisi quis, tincidunt vulputate 
                                        ex. Nullam nec metus tellus. Sed rutrum nibh erat, tempus rhoncus est porta ut. Donec elementum 
                                        pellentesque tortor a bibendum. In finibus interdum. </p>

                                </div><!-- end .span6 -->

                            </li>
                            <li>

                                <div class="testimonial-slider-image">

                                    <p>
                                        <img src="content/testimonials/460x635-3.jpg" alt="">
                                    </p>

                                    <br>

                                    <a class="btn" href="#">Read more</a>

                                </div><!-- end .span5 -->
                                <div class="testimonial-slider-details">

                                    <h1 class="text-highlight text-uppercase">Thrump</h1>

                                    <h3>Enjoy a unique design</h3>

                                    <p>Phasellus pellentesque elit ac neque ultricies efficitur. Vivamus sed ultrices velit. 
                                        Integer vel rhoncus dui. Vivamus et justo a eros varius pretium. Nunc nisl mauris, tempus 
                                        nec molestie id, porta id purus. Maecenas turpis enim, ultrices varius lectus porttitor, 
                                        interdum feugiat nulla. Nullam metus quam, dapibus non molestie at, pharetra vitae orci 
                                        pharetra faucibus erat, id luctus sapien sagittis bibendum.</p>

                                </div><!-- end .span6 -->

                            </li>
                        </ul>

                    </div><!-- end .testimonial-slider -->

                </div><!-- end .span12 -->
            </div><!-- end .row -->
        </div><!-- end .container -->

    </div><!-- end .fullwidth-section-content -->

</div><!-- end .fullwidth-section -->