<div id="footer">

    <!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <div class="container">
        <div class="row">
            <div class="span3" id="footer-widget-area-1">

                <div class="widget ewf_widget_contact_info">

                    <h6 class="widget-title">Contact Info</h6>

                    <ul>
                        <li>
                            2399 Oak Drive<br>
                            Crown Point, NY 12928
                        </li>
                        <li>518-597-8444</li>
                        <li>
                            <a href="mailto:#">office@thrump.com</a><br>
                            <a href="mailto:#">contact@thrump.com</a>
                        </li>
                    </ul>

                </div><!-- end .ewf_widget_contact_info -->

            </div><!-- end .span3 -->
            <div class="span4" id="footer-widget-area-2">

                <div class="widget widget_text">

                    <div class="textwidget">

                        <div class="box box-style-2">

                            <h4>About Thrump</h4>

                            <p>Donec venenatis suscipit diam, volutpat rutrum velit sollicitudin sed. Sed sed eros enim. Cras 
                                omis unde tempor semper. Sed amet pharetra risus mi, et condimentum ipsum non.</p>

                        </div><!-- end .box -->

                    </div><!-- end .textwidget -->

                </div><!-- end .widget_text -->

            </div><!-- end .span4 -->
            <div class="span4" id="footer-widget-area-3">

                <h4>Write Us a Message</h4>

                <form id="contact-form" name="contact-form" method="post" action="assets/php/send.php">  
                    <fieldset>
                        <div id="formstatus"></div>
                        <input class="span12" type="text" id="name" name="name" value="" placeholder="name">
                        <input class="span12" type="text" id="email" name="email" value="" placeholder="e-mail"> 
                        <input class="span12" type="text" id="subject" name="subject" value="" placeholder="subject">
                        <textarea class="span12" id="message" name="message" rows="7" cols="25" placeholder="message"></textarea>
                        <input id="submit" type="submit" name="submit" value="Send" >
                    </fieldset>
                </form><!-- end #contact-form -->

            </div><!-- end .span4 -->
            <div class="span1" id="footer-widget-area-4">



            </div><!-- end .span1 -->
        </div><!-- end .row -->
    </div><!-- end .container -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

</div><!-- end #footer -->
<div id="footer-bottom">

    <!-- /// FOOTER-BOTTOM     ////////////////////////////////////////////////////////////////////////////////////////////// -->	

    <div class="container">
        <div class="row">
            <div class="span4" id="footer-bottom-widget-area-1">

                <div class="widget widget_text">

                    <div class="textwidget">
                        <img src="assets/images/logo-footer.png" alt="">
                    </div><!-- end .textwidget -->

                </div><!-- end .widget_text -->

            </div><!-- end .span4 -->
            <div class="span5" id="footer-bottom-widget-area-2">

                <div class="widget widget_text">

                    <div class="textwidget">
                        <p class="text-right">2016 All Rights Reserved</p>
                    </div><!-- end .textwidget -->

                </div><!-- end .widget_text -->

            </div><!-- end .span5 -->
            <div class="span3" id="footer-bottom-widget-area-3">

                <div class="widget ewf_widget_social_media">

                    <div class="fixed">

                        <a href="#" class="googleplus-icon social-icon">
                            <i class="fa fa-google-plus"></i>
                        </a>

                        <a href="#" class="pinterest-icon social-icon">
                            <i class="fa fa-pinterest"></i>
                        </a>

                        <a href="#" class="facebook-icon social-icon">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="twitter-icon social-icon">
                            <i class="fa fa-twitter"></i>
                        </a>

                    </div>

                </div><!-- end .ewf_widget_social_media -->

            </div><!-- end .span3 -->
        </div><!-- end .row -->
    </div><!-- end .container -->

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->    

</div><!-- end #footer-bottom -->